.essentialsSection .headingEssentials {
    font-family: 'Lora', serif;
    font-weight: 500;
    color:#FFC107 ;
}

.essentialsSection .headingEssentials::after {
  content: "";
  width: 80px;
  height: 4px;
  background: gold;
  display: block;
  margin: 12px auto 0;
  border-radius: 2px;
}

.cardEssentials {
  transition: transform .3s ease;
}

.cardEssentials:hover {
  transform: translateY(-8px);
}

.cardEssentials :global(.card-img-top) {
  height: 250px;
  object-fit: cover;
}

.cardEssentials h2 {
  font-size: 1.5rem;
  margin: 20px 0 15px;
  color: #222;
  font-weight: 600;
}

.discoverBtn {
  padding: 10px 28px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all .3s ease;
  background: #e9a700;
  color: #000;
  border-color: #e9a700;
}

@media(max-width: 768px) {
  .essentialsSection .headingEssentials {
    font-size: 2rem;
  }
}