.featureSection {
  background-color: #fffdf8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  overflow: hidden; 
}

.featureItemMarquee {
  margin: 0 40px; 
}

.featureItem {
  transition: transform 0.3s ease;
  padding: 10px;
  max-width: 250px; 
  margin: 0 auto; 
}

.featureItem:hover {
  transform: translateY(-5px);
}

.iconCircle {
  width: 70px;
  height: 70px;
  background-color: #fef5e7;
  color: #d4af37;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  transition: background-color 0.3s ease, color 0.3s, transform 0.3s ease;
}

.featureItem:hover .iconCircle {
  background-color: #d4af37;
  color: #fff;
  transform: scale(1.1);
}

.featureItem h4 {
  font-size: 1.1rem;
  color: #333;
}

.featureItem p {
  font-size: 0.9rem;
}