.mustHavesSection .sectionTitle {
    font-family: 'Lora', serif;
    font-weight: 500;
    color:#FFC107 ;
    text-align: center;
}

.itemCard {
  background: #fafafa;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(180,190,210,.15);
  transition: box-shadow .35s ease, transform .3s ease;
  cursor: pointer;
}

.itemCard:hover {
  box-shadow: 0 10px 20px rgba(120,135,170,.25);
  transform: translateY(-6px);
}

.itemCard :global(.card-img-top) {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,.06);
}

.itemCard :global(.card-text) {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 600;
  color: #34495e;
}